/* common */
*{
    padding:0;
    margin:0 ;

}

html {
    font-size: 10px;
    line-height: 10px;
}

body {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

ol, ul, li {list-style: none;}


a { text-decoration: none; 
    color:#202020;}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#wrap {
    min-width: 1190px;
}

hr { height:3px;color:#dae1e6; background-color: #dae1e6;}
/* 상단 다크모드배너 */
/* .topbanner {
    width: 100vw;
    height: 49px;
    background-color: #f3f1ff;
}
.whalebanner {
   width: 1130px;
   height: 49px;
   margin: 0 auto;
   display: flex;
}
.whalelogo {
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url('../imgs/sprite-20201210@2x.png');
    background-repeat: no-repeat;
    background-size: 114px 107px;
    margin-top: 14px;
    float: left;
    width: 98px;
    height: 21px;
    background-position: 0 -21px;
}
#darkmodebanner {
    height: 49px;
}
#darkmode {
    height: 30px;
    background-color: #7c56d5;
    color: #fff;
    border-radius: 10px;
}
 */


#logo, .keys_kor_btn > .ico_keys,  .keys_kor_btn > .ico_keys:hover,
.search_dropdown, .ico_search_btn, .sevice_area .link_set::after, 
.sevice_area .jrnaver, .sevice_area .jrnaver:hover,
.sevice_area .happybean, .sevice_area .happybean:hover,
.ico_mail,.ico_shoplive, .ico_tv, .more_btn::after, 
#newsstand_header .issue_area a::after, .ico_naver, .sub_area .findbox::before,
.joinin a::before, .btn_arrowleft, .btn_arrowright, .newsstand_a:before ,
 .newsstand_a::after, .newsstand_section_b .list, .newsstand_section_b .list:hover,
 .newsstand_section_b .list:checked , .newsstand_section_b .thumb, .newsstand_section_b .thumb:hover,
 .newsstand_section_b .thumb:checked,.newsstand_section_b .setting, 
 .newsstand_section_b .setting:hover, .recommand .setting div small::before
 {
    display: inline-block;
    background-image: url('../imgs/sp_main_4efc7a.png');
    background-size: 440px 408px;
    background-repeat: no-repeat;

}

.ico_n, .ico_arrowright, .btn_next, .btn_prev   
    {
    display: inline-block;
    background-image: url('../imgs/sp_shop_bffdc9.png');
    background-size: 107px 78px;
    background-repeat: no-repeat;
}




/*  검색창  */
header .speacial_bg {
    position: relative;
    height: 160px;
    background-color: #fff;
    border-bottom: 1px solid #e4e8eb;
    }

.group_flex {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


.logoarea {
    position: relative;
    height: 100%;
    padding-top:40px /* 네이버는 이렇게 안했는데 .. 모르겠다. */
   }

#logo{
    display: inline-block;
    width: 222px;
    height: 52px;
    content: "";
    background-position: 0 -158px;
    vertical-align: top;
    margin-right: 40px;
    cursor: pointer;
}

.serch_area { 
    position: relative;
    display: inline-block;
    width: 586px;
    height: 56px; 
    border : 2px solid #19ce60; 
    border-radius: 2px; 
}
.serch_area > form {
    /* position: relative; */
    display: inline-block;
    width: 586px;
    height: 56px; 
    /* border : 2px solid #19ce60;  */
    /* border-radius: 2px; */
}
.serch_area > form fieldset {
    display: inline-block;
    border: none;
    padding:0;
    margin: 0;
    /* width: 586px;
    height: 56px;; */
}
.serch_area form .keys_kor_btn {position: relative;}
#input_text {
    display: inline-block;
    width: 444px;
    height: 24px;
    padding:13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    outline: none;
    border :none; /* 이거 맞는지 모르겠다. */
}

.keys_kor_btn {
    position: relative;
}
.keys_kor_btn > .ico_keys {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 12px;
    background-position: -420px -267px;
    vertical-align: top;
    margin: -6px 0 0 -10px;
}
.keys_kor_btn > .ico_keys:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 12px;
    background-position: -420px -281px;
    vertical-align: top;
    margin: -6px 0 0 -10px;
}

.search_dropdown {
    position: absolute;
    top: 23px;
    right: 65px;
    bottom: 0;
    width: 22px;
    height: 22px;
    background-position: -168px -148px;
}

#search_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19ce60;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    border: none;
    cursor: pointer;
    padding:0px;
}

.ico_search_btn { 
    position: absolute;
    top: 27%;
    left: 30%;
    width: 22px;
    height: 22px;
    background-position: 0px -386px;
    vertical-align: top;
}


/* sevice_area */
.sevice_area {
    position: absolute;
    top:12px;
    right:27px;
}

.sevice_area .link_set {
    float: left;
    font-size: 11px;
    color: #404040;
    text-decoration: none;
}
.sevice_area .link_set > span {
    color: #404040;
}
.sevice_area .link_set::after {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -382px -213px;
    vertical-align: top;
    content: '';
    margin: -3px 0 0 3px;
}


.sevice_area .jrnaver {
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -333px -267px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px;
}

.sevice_area .jrnaver:hover {
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -257px -296px;
    vertical-align: top;
    margin: 3px;
}

.sevice_area .happybean {
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -257px -308px;
    vertical-align: top;
    margin: 3px 3px 2px;
}

.sevice_area .happybean:hover {
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -380px -199px;
    vertical-align: top;
    margin: 3px 3px 2px;
}

/* GNB */

#nm_favorite{
    border-bottom: 1px solid #e4e8eb;

}
#gnb .gnb_inner {
    position: relative;
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
    /* border-bottom: 1px solid #e4e8eb; */

}

#gnb .gnb_inner .nav{
    overflow: hidden;
    position: relative;
    padding: 11px 270px 11px 0;
}

#gnb .gnb_inner .nav::after { 
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;  
}

#gnb .gnb_inner .nav .navlist {
    float: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    letter-spacing: -.3px;
}

#gnb .gnb_inner .nav .navlist .nav_item {
    float: left;
    margin-left:12px;
  }


.ico_mail{    
    display: inline-block;
    margin: 3px 9px 0 0 ;
    width: 21px;
    height: 21px;
    background-position: -48px -385px;
    vertical-align: top;
} 

.ico_shoplive {
    display: inline-block;
    width: 54px;
    height: 20px;
    background-position: -270px -245px;
    background-repeat: no-repeat;
    vertical-align:sub;

}

.ico_tv {
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -401px -245px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 2px 0 0;
}

.nav .fix > .nav_item a{
    color: #03c75a;
}

.more_btn { 
    float: left;
    margin-left: 17px;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
    text-align: right;
}
.more_btn:hover { 
    text-decoration: underline;
}

.more_btn::after {
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -222px -281px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
}


/* GNB Dropdown(더보기) */



/* Container */

.container { 
    position: relative;
    width:1130px;
    padding: 20px 30px;
    margin:0 auto;
    letter-spacing: -.2;
}
.container::after { 
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;  
}

.column_left{ 
    float: left;
    width: 750px;
}

.column_right{ 
    float: right;
    width: 350px;
}

.newscast .issue_area{
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    margin-top: 10px; /* 네이버는 어떻게 한걸까-_-............... */
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}
.newscast .issue_area .direct_area {
    width:150px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.newscast .issue_area .direct_area {
    color:#3565c9;
}
#veta_top.img_area img{
    border: #e4e8eb solid 1px;
}

#newsstand_header .issue_area .news_headline::after {
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -262px -124px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 0 0 6px;
}





.newsstand_titlearea { 
    height: 56px; width:750px; 
}

.newsstand_title{
    width:750px;
    height: 56px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.newsstand_section_a {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 14px; 
}

.newsstand_a::before {
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -226px -295px;
    vertical-align: top;
    content: '';
    margin: -6px 1px 0 0;
 
}
.newsstand_a::after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -410px -213px;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: -1px;  
}

.news{
    display:none;
}
.news:checked + label {
   font-weight: bold;
    /* position: relative; */
    }

.newsstand_section_a {
    width:250px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.newsstand_section_b {
    width:80px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.newsstand_section_b .list {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -420px -350px;
    vertical-align: top;
    opacity: .7;
}
.newsstand_section_b .list:hover {
    opacity: 1;
}
.newsstand_section_b .list.set_on{
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -418px -365px;
    vertical-align: top;
    opacity: 1;
}

.newsstand_section_b .thumb { 
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -420px -380px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
}
.newsstand_section_b .thumb:hover { 
    opacity: 1;
}
.newsstand_section_b .thumb.set_on {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -420px -394px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: 1; }


.newsstand_section_b .setting {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -420px -295px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    margin: -1px 0 1px;
}
.newsstand_section_b .setting:hover { 
    opacity: 1;
}

.wrap_press {
    height: 260px; width: 750px; 
    display: flex; 
    flex-wrap:wrap; 
    justify-content: center; align-items:center; 
    box-shadow: 0 0 0 1px #dae1e6 inset;
}

.press {
    height: 65px; width: 124.61px;
    border-width: 0 1px #dae1e6;
    display: flex; 
    justify-content: center;
    align-items: center;
   
 }

.press a img
{ height: 20px;
}

.recommand {
    height: 34px; width:750px;
    padding-top: 35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 
}


.recommand .title { 
    font-size: 14px;
}

.recommand .title small{
    color:#808080;
    margin-left: 8px;
}

.recommand .setting {
    width:150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.recommand .setting div a small::before{
   display: inline-block;
   width: 11px;
   height: 11px;
   background-position: -319px -308px;
   /* vertical-align: top; */
   content: '';
   margin-right: 4px;
   vertical-align: -1px;
   opacity: .7;
}

.recommand .setting div small:hover{
    opacity: 1;
    text-decoration: underline;
}

.fields { 
    height: 49px; width:750px; display: flex;
    justify-content: center; align-items: center;
}
.fields:first-child {
    height: 49px; width:92px;
}
.field.on{
    background-color: #5853a0;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.field.on a{color: #fff;
}

.field {
    border: 1px solid #dae1e6;
    height: 49px; width:96px;
    font-weight: bold;
    background-color: #fff;
    display:flex;
    justify-content: center; align-items: center;
}

.bar{
    width:1px;
    height: 12px;
    background-color: #dae1e6;;;
}


.column_fix_wrap {
    position: relative;
    width: 350px;
    background-color: #fff;}

.login {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    height: 105px;
}
.login_msg { 
    padding-left: 3px;
    color: grey;  
}

.link_login {
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.ico_naver{
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -209px -267px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
}

.sub_area {margin-top: 15px;}
.sub_area .findbox {
    float: left;
}

.sub_area .findbox::before {
    display: inline-block;
    width: 10px;
    height: 14px;
    background-position: -408px -55px;
    vertical-align: top;
    content: '';
    margin: -1px 1px 1px;
}

.findbox .find_pw::before { 
    background-color: #d7dce0;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px 0 2px;
    vertical-align: 3px;
}

.joinin {float: right;}
.joinin a::before {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -306px -308px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 2px 5px 0 0;  
}

.information {
    height: 49px; width:350px; 
    background-color: #ffffff; 
    border:1px solid #dae1e6; 
    display:flex; justify-content: center; align-items: center;
    margin: 12px 0px;  
}

.information .contents {
    height: 47px; width:281px;  
    display: flex; align-items: center; 
    margin-left: 10px;
}
.btn_area {
    height: 47px; width:67px; 
    display: flex; justify-content: center; align-items: center;
}

.btn_area .wrap_btn {
    border:1px solid #dae1e6; 
 
}

.banner2, .banner2 img {
    height:200px; 
    width:350px; 
    /* background-color: #c4c4c4; */
}

.trendshopping {
    height:44px; 
    width:350px; 
    background-color:#ffffff;
    padding:12px 0 13px;
    display:flex;justify-content: space-between;
    align-items: center;
}

.trendshopping > div {
    display: flex;
    font-weight: bold;
}

.trendshopping > div > a > p:hover {
text-decoration: underline;
}

.ico_n{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -26px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-right: 4px;
    vertical-align: -3px;
}

.ico_arrowright {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -43px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 0; 
}

.trendshopping .categories {
    width:120px; height:19px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.btn_arrowright {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -289px -337px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
   
}

.btn_arrowleft {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -438px -385px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
}


.font_green:checked + label , .tabs:checked + label {
color:#19ce60;
width:100%;
border-bottom:2px solid #03c75a;
/* position: relative; */
}
/* input[type="radio"]:checked + label::after{
    content:'';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom:2px;
    left:1px
    background-color:#03c75a;
    } */

.font_green {
 display:none;
}
.font_bold{
    font-weight: bold;
}

.mall_group {
    height:70px; width:350px;
    /* padding: 12px 4px 11px 10px; */
    background-color: #f7f9fa;
    border : 1px solid #dae1e6;
    display: flex; justify-content: center; 
    align-items: center; flex-wrap: wrap; 
}

.mall_group_1st {
    height:23px; width:334px; 
    display: flex; justify-content: space-between; 
    align-items: center;
    padding-bottom:0px;
}

.mall_group_2nd {
    height:23px; width:334px;
    display: flex; justify-content: space-between; 
    align-items: center;
    padding-top:0px;
}
.mall_group p:hover {
    text-decoration:underline;
    
}
.dot {
    background-color: #c9cccf;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: top;
}

/* 트렌드 쇼핑 아이템 */
.item_warp{
    height: 1500px; width: 350px; 
    background-color: #fff;
    border : 1px solid #dae1e6;
    letter-spacing: -.25px; 
}

.item_slider {
    height: 60px; width: 348px; 
    display:flex; justify-content:flex-end;
     align-items: center;
}

.btn_prev {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -71px -54px;
    vertical-align: top;
    content: '';
    margin: 9px 12px 9px 10px;  
}
.btn_next{
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -57px -54px;
    vertical-align: top;
    content: '';
    margin: 9px 10px 9px 12px;  
}

.wrap_btn_prev {
    margin-left: 10px;
}
.wrap_btn_next {
    margin-right: 8px;
}
.wrap_btn_next , .wrap_btn_prev  { 
    width:29px;
    height: 29px;
    border:1px solid #dae1e6;
    background-color: #fff;
    cursor: pointer;
}


.wrap_btn_next:hover, .wrap_btn_prev:hover { 
   background-color: #f7f9fa;
}




.item_warp .items {
    height:178px; width: 348px; 
    display: flex; margin-bottom: 10px;
}
.item_warp .items .item {
    height:178px; width:107.31px; 
    display: flex; flex-direction: column;
    margin-left:7px; 
    overflow: hidden; 
}
.item_warp .items .item img{
    height:146px; width:107.31px;  
    overflow: hidden;
}

.thumbnail {
    height:146px; width:107.31px;
}

.item p {height:16px; width:107.31px; text-align: center;}

.item_slider2 {
    height: 55px; width:150px; margin: 0 99px;
    display:flex; justify-content: space-between; align-items: center;
}

/* 반갑다 쇼핑뉴스 섹션 */
.shopping_news {
    height:274px; width:347px; 
}

.wrap_news { 
    height:236px; width:332px;  margin: 0 8px;
    padding: 19px 0 17px;
}
.shoppingnews_header{
    display:flex; justify-content: space-between; align-items: center;
}
.shoppingnews_header p {
    font-size:13px; 
    font-weight: bold;
}

.shoppingnews_slider{
    display: flex; justify-content: flex-end; align-items: center;   
}

.shoppingnews_list {
    height: 210px;
    display: flex; flex-direction: column; 
    justify-content: space-around; align-items: flex-start  
}

.shop_name {
    font-weight: bold; margin-right: 10px;
}
.shop_name::before {
    background-color: #1ace61;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: '';
    margin-right: 8px;
    vertical-align: 2px
}

/* 트렌트쇼핑 2 */
.wrap_trendshopping2 {
    height:272px; width:332px;
    margin: 0 8px;
    padding:55px 0 30px;
 }


 .tabs { 
     display: none;
 }

 .wrap_tablist {
    display:flex; justify-content: space-between; align-items: center; 
 }

 .wrap_tablist a label {font-weight: bold;}
 .trendshopping2_wrap{

    height: 250px; display:flex;
    justify-content:space-between; align-items:center;
    overflow: hidden;
}

 .trendshopping2_wrap img{height: 163px; width:163.5px; }
 .trendshopping2_wrap p {text-align: center; font-weight: bold;}


 /* .trendshopping2_wrap img:hover, .thumbnail:hover {
     transform: scale(1.2);
 } */
